[submodule "PipePipe.wiki"]
    path = PipePipe.wiki
    url = https://github.com/InfinityLoop1308/PipePipe.wiki.git
    branch = main
[submodule "PipePipeClient"]
	path = PipePipeClient
	url = https://github.com/ximalu/PipePipeClient.git
	branch = pipeplay-changes
[submodule "PipePipeExtractor"]
	path = PipePipeExtractor
	url = https://github.com/ximalu/PipePipeExtractor.git
	branch = pipeplay-changes
